body{
    background-color: black;
    display: flex;
    justify-content:center;
    align-items: center;
}

#calcMain{
    background-color:aliceblue;
    height: 600px;
    width:400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
#calcDisplay{
    margin-top: 20px;
    border: 2px solid black;
    height: 50px;
    width: 300px;
    display: flex;
    justify-content: end;
}
#calcButtons{
    display: grid;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    width:350px;
    height: 400px;
    grid-template-columns: repeat(3,1fr); 
}

.button{
    background-color: beige;
    border: none;
    border: 2px solid black;
    height: 60px;
    width: 100px;
    border-radius: 30px;
}